

/* Code generale */

@media screen and (max-width: 1050px){
    
    h1{
        color:rgb(236, 67, 213)
    }
     
     .activite-cadre{
         
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         width: 80%;

    }
    .activite-photo-cadre-big{
        margin: 5% 0 5% 0;
    }
    .activite-photo-cadre-medium{
        margin: 12% 0 10% 0;
    }

    
 
     footer, .activite-cadre {
         display: flex;
         flex-wrap: wrap;
     }
     
     .hebergements{
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }
    
    .les-plus-populaires{
      
        
        
    }
    .populaires-photos {
        margin: 100%;

    }
    .text-adjustment-populaires {
        margin: 100%;
    }
    .populaires-arrangement {
        display: flex;
    }
   
    
     
 }
 
 
 @media screen and (max-width: 768px) {
     h1{
         color: green;
     }
     .filter-bloc{
         display: flex;
         flex-wrap: wrap;
     }
     .filter-buttom{
         margin: 10px 0 0 10px;
     }
     .filter-display-word{
         display: flex;
         flex-direction: column;
     }
     .filter-bloc{
     padding-left: 5px;
     }
     .container{
        display: flex;
        flex-direction: column;
        padding: 0px 0px 18px 15px;
    }
    .les-plus-populaires{
        margin-bottom: 3%;
        display: flex;
        flex-wrap: wrap;
    }

    
   
     
}


 @media screen and (max-width: 480px){
    h1{
        color:red;
    }
    .hebergements-photos{
       
        width: 100%;
        height: 200px;
    }
    .nav-sinscrire {
        position: absolute;
        top: 48px;
        right: 15px;
    }
    .boutton-recherche {
        visibility: hidden;
    }
    .icon-search {
        visibility:visible;
    }
   

    

    
}
 
@font-face {
     font-family: 'Raleway Regular';
     font-style: normal;
     font-weight: normal;
     src: local('Raleway Regular'), url('font/Raleway-Regular.woff') format('woff');
     }
    
 *{
     font-family: 'Raleway Regular', Arial, sans-serif;
 } 
 
 body {
     width: 100%;
 }
 
 #bloc-page{
     width: 95%;
     margin: auto;
     
 }
 
 h1{
     font-size: 22px;
 }
 
 h2{
     font-size: 12px;
     font-weight: bold;
 }
 
 h3{
     font-size: 11px;
 }
 
 p{
     font-size: 10px;
 }
 
 /* Header */
 
 .logo-reservia{
     width:30%;
     
 }
 
 header{   
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 24px; /* Pour avoir de la hauteur dessus les li */
     /* padding doit être bien règler avec padding-top de a:hover */
 }
 
 nav ul, .filter-bloc, .footer-nav li{
     list-style-type: none;
 }
 nav ul, .filter-bloc{
     display: flex;
 }
 
 
 nav li{
     margin-right: 35px;
     font-size: 13px;
 }
 
 a {
     text-decoration: none;
     color: black;
     font-size: 10px;
 }
 
 a:hover{
   font-weight: bold;
   
 }
 
 .nav-hover:hover {
     padding-top: 48px;
     border-top: 3px solid #0065FC;
     color: #0065FC;
 }
 
 .nav-sinscrire{
     font-weight: bold;
     color: blue;
     
 }
 
 
 
 /*-- Recherche--*/
 
 .icon-location{
     padding: 11px 15px ;
     background-color: #F2F2F2;
     border-top-left-radius:10px;
     border-bottom-left-radius:10px;
 }
 
 .search-bar2{
     width: 160px;
     border:1px solid #F2F2F2;
     border-bottom: 1px solid #F2F2F2;
     margin:4px 0;
     outline:none;
     padding-top:7px;
     padding-bottom:9.5px;
     box-sizing:border-box;
 
 }
 .button{
     width: 100px;
     border:1px solid #0065FC;
     border-bottom: 3.5px solid #0065FC;
     margin:4px 0;
     outline:none;
     padding:7px;
     box-sizing:border-box;
     background-color: #0065FC;
     border-top-right-radius:10px;
     border-bottom-right-radius:10px;
     color: white;
     font-weight: bold;
 }
 .icon-search {
     visibility: hidden;
 }
 
 /* Filtres */
 
 .filter-display-word{
     display: flex;
 }
 
 .filter-buttom{
     margin-left: 30px;
     border: 1px solid #DEEBFF;
     border-radius: 40px;
     padding: 10px 0px;
 }
 
 .filter-buttom:hover{
     box-shadow: 0px 0px 5px rgb(20, 9, 9);
 }
 
 .filter-icon:hover{
     color: green;
 }
 .filter-text:hover{
     color: green;
 }
 
 .filter-text{
     font-weight: bold;
     font-size: 12px;
     padding: 15px;
 }
 .filter-icon{
     padding: 16px 14px 12px 14px;
   
     background-color: #DEEBFF;
     color: blue;
     border-radius: 40px;
 
    
 }
 .i-info{
     border: 1px solid #b8c2d1;
     margin-right: 3px;
     padding: 1px 4px 1px 4px;
     color: rgb(67, 67, 236);
     font-size: 8px;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 40px;
 }
 .info-ligne{
    display: flex;
 }
 
 /*  Hébergements à Marseille  */
 
   /* HEBERGEMENTS */

 #hebergement-background, .les-plus-populaires{
     background-color: #F2F2F2;
     border-radius: 10px;
} 
 .photo-size{
     width: 100%;
     height: 80px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }
 em{
     font-weight: bold;
     font-size: 12px;
     font-style: normal;
 }
 .hebergements-photos{
     border: 4px solid white;
     border-radius: 10px;
     box-shadow: 0px 0px 7px silver;
     background-color: white;
     width: 28%;
     height: 135px;
     margin: 10px;
 }
 .hebergements-photos:hover, .populaires-photos:hover,
 .activite-photo-cadre-big:hover, .activite-photo-cadre-medium:hover,
 .activite-photo-cadre-small:hover{
     box-shadow: 0px 0px 10px black;
 }
 #h1-padding{
    padding: 16px 0 0 22px;
    display: flex;
     
 }
 .hebergement-h2{
     padding: 0 0 20px 22px; 
 }
 .hebergement-h2:hover{
     text-shadow: 0px 0px 1px black;
 }
 
 .h3-margin{
     margin-top: 1px;
 }
 .p-margin{
     margin-top: -10px;
 }
 .blue-star{
     color: blue;
     margin-bottom: 2px;
     font-size: 10px;
 }
 .grey-star{
     color: rgb(211, 201, 201);
 }
    
 .hebergements{
     display: flex;
     width: auto;
 }
 
 .container{
    display: flex;
     flex-wrap: wrap;
     height: auto;
     width: 100%;
     padding: 0px 0px 18px 15px;
 }
 
 /*   Les plus populaires  */
 
 .les-plus-populaires{
     width: 30%;
     height: auto;
     margin-left: 20px;
     padding-left: 40px;
     padding-top: 0px;
 }
 .populaires-photos{
    
     display: flex;
     border: 4px solid white;
     border-radius: 10px;
     box-shadow: 0px 0px 7px silver;
     background-color: white;
     width: 230px;
     height: 85px;
     margin: 25px 40px 25px 0px;
 }
 .photo-size-populaires{
     width: 100px;
     height: 85px;
     border-bottom-left-radius: 10px;
     border-top-left-radius: 10px;
 }
 .h1-populaires{
     
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 15px 45px 5px 10px;
 }
 .h1-populaires-chart-line{
     align-content: center;
 }
 .text-adjustment-populaires{
     margin: 5px 0 2px 12px;
 }
 
 /*  Activité à Marseille  */
 
 .activite-cadre{
    
     display: flex;
   
     margin: 2%;
 }
 
 .activite-photo-cadre-big{
     box-shadow: 0px 0px 10px silver;
     border-radius: 15px;
     width: 250px;
     height: 350px;
     margin-right: 15px;
 }
 .activite-photo-big{
     width: 250px;
     height: 310px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
 .activite-photo-cadre-medium{
     box-shadow: 0px 0px 10px silver;
     border-radius: 15px;
     width: 250px;
     height: 180px;
     margin-right: 15px;
 }
 .activite-photo-medium{
     width: 250px;
     height: 150px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
 .activite-photo-cadre-small{
     box-shadow: 0px 0px 10px silver;
     border-radius: 15px;
     width: 250px;
     height: 150px;
 }
 .activite-photo-small{
    width: 250px;
    height: 120px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }
 #activite-margin-iledufrioul{
     margin-top: 20px;
 }
 #activite-margin-parc-longchamp{
     margin-top: 20px;
 }
 
 
 
 
 .activite-margin-h3{
     margin: 6px 0 0 20px;
 }
 
    /* FOOTER */
    
 footer {
     display: flex;
     background-color: #F2F2F2;
     width: 100%;
  
 }
 .footer-nav{
     margin: 2% 5% 2% 7%;
 }