/* Code generale */
@media all and (max-width: 500px){
    #bloc-page{
        width: auto;
    }
    header{
        flex-direction: column;
    }
    
}


@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), url('font/Raleway-Regular.woff') format('woff');
    }
   
*{
    font-family: 'Raleway Regular', Arial, sans-serif;
}   

#bloc-page{
    width: 80%;
    margin: auto;
}

h1{
    font-size: 14px;
}

h2{
    font-size: 12px;
    font-weight: bold;
}

h3{
    font-size: 11px;
}

p{
    font-size: 10px;
}



/* Header */

.logo-reservia{
    width:55px;
    
}

header{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px; /* Pour avoir de la hauteur dessus les li */
    /* padding doit être bien règler avec padding-top de a:hover */
}

nav ul, .filter-bloc{
    display: flex;
    list-style-type: none;
  
}

nav li{
    margin-right: 35px;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

a:hover{
  font-weight: bold;
  
}

.nav-hover:hover {
    padding-top: 48px;
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.nav-sinscrire{
    font-weight: bold;
    color: blue;
}



/*-- Recherche--*/


.icon-location{
    padding: 11px 15px ;
    background-color: #F2F2F2;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.search-bar2{
    width: 160px;
    border:1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin:4px 0;
    outline:none;
    padding-top:7px;
    padding-bottom:9.5px;
    box-sizing:border-box;

}
.button{
    width: 100px;
    border:1px solid #0065FC;
    border-bottom: 3.5px solid #0065FC;
    margin:4px 0;
    outline:none;
    padding:7px;
    box-sizing:border-box;
    background-color: #0065FC;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    color: white;
    font-weight: bold;
}

/* Filtres */


.filter-buttom{
    margin-left: 30px;
    border: 1px solid #DEEBFF;
    border-radius: 40px;
    padding: 10px 0px;
}

.filter-buttom:hover{
    box-shadow: 0px 0px 5px rgb(20, 9, 9);
}

.filter-icon:hover{
    color: green;
}
.filter-text:hover{
    color: green;
}

.filter-text{
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
}
.filter-icon{
    padding: 10.5px;
    background-color: #DEEBFF;
    color: blue;
    border-radius: 40px;
   
}
.i-info{
    border: 1px solid #b8c2d1;
    margin-right: 3px;
    padding: 1px 4px 1px 4px;
    color: rgb(67, 67, 236);
    font-size: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
}
.info-ligne{
   display: flex;
}

   /*  Hébergements à Marseille  */
   /*   Style des cases Photo et texte */

.hebergements{
    background-color: #F2F2F2;
    border-radius: 10px;
  
} 
.photo-size{
    width: 150px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
em{
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
}
.hebergements-photos{
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px silver;
    background-color: white;
    width: 150px;
    height: 140px;
    margin: 10px;
}
.h1-margin{
    margin: 10px;

}
.h3-margin{
    margin-top: 1px;
}
.p-margin{
    margin-top: -10px;
}
.blue-star{
    color: blue;
    margin-bottom: 2px;
    font-size: 10px;
}
.grey-star{
    color: rgb(211, 201, 201);
}



.les-plus-populaires{
    border: 1px solid rgb(25, 0, 255);

}

   /*  Activité à Marseille  */

.activites-marseille{
    border: 1px solid green;
}
   

    /* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}
#footer-nav li{
    
    list-style-type: none;
    margin-right: 6px;
   
}



  
    
